[profile.default]
src = 'contracts'
out = 'gen/out'
libs = ['node_modules', 'lib']
cache_path  = 'gen/cache_forge'
broadcast = 'gen/broadcast'

solc_version='0.8.22'
evm_version='paris'
optimizer = true
optimizer_runs = 9999

remappings = [
    "tapioca-strategies/=contracts/",
	"tapioca-sdk/=gitmodule/tapioca-sdk/contracts/",
    "tapioca-periph/=gitmodule/tapioca-periph/contracts/",
    "yieldbox/=gitmodule/tap-yieldbox/contracts/",
    "tapioca-mocks/=gitmodule/tapioca-mocks/contracts/",
    "permitc/=gitmodule/tapioca-periph/gitmodule/permitc/src/",
]


[etherscan]
arbitrum = { key = "${ETHERSCAN_API_KEY}", url = "https://api.arbiscan.io/api"}
arbitrum-sepolia = { key = "${ETHERSCAN_API_KEY}", url = "https://api-sepolia.arbiscan.io/api"}